<ng4-loading-spinner> </ng4-loading-spinner>

<div style="height:100%; width: 100%;">

    
    <div fxFlex=100 fxLayout="row" fxLayoutAlign="center center"  class="main-div">
    <mat-card  class="login-mat-card" >

        <div fxLayout="column" fxLayoutAlign="center center">
            <div  class="circle-div" fxLayoutAlign="center center">
                <img class="logo" src="../../../assets/images/Group 3521.svg">
            </div>


            <div class="inputs">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>EmailId</mat-label>
                    <input matInput autocomplete="off"  maxlength="300" [formControl]="email" >
                    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
                </mat-form-field>
            </div>
 
      
            <div class="button-div">
                <button mat-button class="login-button" (click)="forgot()"  
                [disabled]="email.invalid">Forgot Password</button>
            </div>
            <div class="forgot-div"  fxLayoutAlign="center center" >

                <a class="forgot" (click)="login()"><u>Password Remember?</u></a>
            </div>

</div>
    </mat-card>


   </div>
    
</div>
